body {
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
}
.logo{
    width: 30%;
}
.motto{
    position: absolute;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 5vw;
    padding: 50% 20% 0 20%;
    font-weight: bolder;
    text-shadow: 1px black;
    z-index: -1;
}
.nav-icon{
    width: 15%;
    float: right;
    padding: 4%;
}
.main-figure-container{
    width: 100%;
}

.main-figure,.img-one,.img-two{
    width: 100%;
}
.article{
    display: flex;
}
.underline{
    width: 60%;
    border:  solid black;
    border-width: 0.4vh;
    margin: auto;
}
.about-us-text{
    text-align: center;
    font-family: 'Fjalla One';
    font-size: 6vw;
}
.about-us-content{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 5vw;
    padding-left: 4%;
    padding-right: 4%;
}
figcaption{
    font-family: 'Fjalla One';
    font-size: 4vw;
    text-align: center;
}
figure{
    width: 100%;
    margin-left: 0;
}
.more, .less,.more-second,.more-third,.more-eighth,
.more-sixth,.more-fourth,.more-fifth,.more-seventh{
    color: blue;
    padding: 5%;
}
.more-content,.more-content-two,.more-content-three,.more-content-eight,
.more-content-five,.more-content-seven,.more-content-six,.more-content-four{
    display: none;
}
.mobile-phone,.gmail,.my-location{
    width: 12%;
    margin-left: 10%;
}
.email,.our-location,.mobile-number{
    float: right;
    padding-right: 20%;
    align-content: center;
}
.navigation-tab{
    border: 1px solid red;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 20%;
    

}
ul{
    list-style-type: none;
}
li{
    color: white;
    font-family: 'Source Sans Pro';
    font-size: 6vw;
    padding: 3.5%;
}
.hide{
    display: none;
}
